:root {
    --maincolor: #707B81;
    --offwhite: #E6F0EA ;

    --general-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  letter-spacing: .5px;
}

.preloader {
    background-image: url("/images/dalle/banner-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}

.preloader__img {
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%, -50%);
    animation: load 1.8s ease-in-out infinite;
}

@keyframes load {
    0% {
        opacity: 0.6;
        transform: scale(1.5);
    }
    40% {
        opacity: 1;
        transform: scale(1.6);
    }
    100% {
        opacity: 0.6;
        transform: scale(1.5);
    }
}

svg {
    background-color: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: var(--general-font);
}

.hidden {
    display: block;
}

/*NAV*/
.menu {
    display: none;
}

.nav {
    background-color: var(--maincolor);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 0px 10px;
}

.nav-item a:hover {
    color:#84A400;
}

.logo {
    font-size: 1.8em;
    padding: .6em;
    letter-spacing: -6px;
}

.logo span:nth-child(2), .logo span:nth-child(4) {
    color: var(--offwhite);
}

  
.dropdown {
    position: relative;
}
  
.dropdown-button {
    border: none;
    cursor: pointer;
}
  
.dropdown-icon {
    width: 30px;
    margin-left: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: var(--offwhite);
    top: calc(100% + 0.25rem);
    padding: 0.75rem 0.75rem 0.25rem 0.75rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transform: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    width: 150px;
}
  
.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
  
.dropdown-menu div {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
  
.dropdown-menu a {
    text-decoration: none;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

button.dropdown-button {
    background-color: var(--maincolor);
}
  

/*INTRO*/
#title-page {
    padding: 2em 15% 0 15%;
    height: 90vh;
    background-image: url("images/banner-city.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-right: 10%;
    font-weight: lighter;
}

h1 span {
    display: block;
}


.team {
    font-size: x-small;
}

.block-text {
    background-color: var(--maincolor);
    color: var(--offwhite);
    padding: 1rem 5%;
    margin: 2rem 0;
}

.intro {
    margin: 0 0;
}

.left {
    margin: 0 5%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt {
    display: block;
    font-family: var(--general-font);
    font-size: .8em;
    font-style: italic;
    font-weight: 400;
    margin: 0 10%;
    text-align: center;
}

.ai--imgs {
    display: grid;
    margin: 2em 5%;
    justify-items: center;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    }

.ai--imgs div {
    width: 360px;
    max-width: 90vw;
    height: 360px;
}

.ai--imgs div.midjourney {
    height: 600px;
}
    
    .div1 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.10.36 - a big city covered in nature, skyscrapers, public transport, bridges, windows, doors, sun, sky, cyberpunk lights, Hyper Detail, 8K, HD, Octane Renderi.png");
        background-size: cover;
    }
    .div2 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.29.42 - A photograph of a playground in a city full of skyscrapers which are covered in nature, detailed, elegant, 4k, detailed, trending in artstation.png");
        background-size: cover;

    }
    .div3 { 
        background-image: url("/images/banner-city.png");
        background-size: cover;

    }
    .div4 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.47.41 - Pixar style 3D render of a modern trainstation with trains in the middle of a big city coverd in nature, detailed, 8k, unreal engine, octane render.png");
        background-size: cover;

    }
    .div5 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.11.18 - a big city covered in nature, skyscrapers, public transport, bridges, windows, doors, sun, sky, cyberpunk lights, Hyper Detail, 8K, HD, Octane Renderi.png");
        background-size: cover;

    }
    .div6 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.33.27 - Pixar style 3D render of an enormous city of skyscrapers covered in nature, 4k, detailed, trending in artstation.png");
        background-size: cover;

    }
    .div7 { 
        background-image: url("/images/dalle/DALL·E 2022-11-15 16.30.55 - Pixar style 3D render of a city full of skyscrapers which are covered in nature, detailed, elegant, 4k, detailed, trending in artstation.png");
        background-size: cover;

    }
    .div8 { 
        background-image: url("/images/midjourney/city-covered-in-nature-1.png");
        background-size: cover;

    }
    .div9 { 
        background-image: url("/images/midjourney/city-covered-in-nature-2.png");
        background-size: cover;

    }

.right img {
    width: 480px;
}

.ai--imgs img {
    max-width: 100%;
}

/*DREAMCITY*/
.dreamcity-video iframe {
    width: 100%;
    max-width: 100vw;
}

/*.container {
    position: relative;
}*/

.activity-images {
    display: block;
    max-width: 100%;
    padding: 10px;
    border: 1px solid black;
}


/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--maincolor);
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

/*MEETINGS*/
.meeting h3 {
    padding-left: 0.5em;
}

.meeting iframe {
    max-width: 100%;
}

/*THE TEAM*/

#teammates {
    background-color: var(--maincolor);
    color: var(--offwhite);
}

#teammates h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
}

#teammates p {
    color: var(--offwhite);
}

.profile-img {
    max-width: 30%;
    border: 1px;
    border-radius: 50%;
}

.profile {
    color: black;
    margin: 2em 0;
    text-align: center;
    font-size: 1.1em;
    outline: 0;
}

@media(min-width: 55em) {
    /*NAV*/

    .dropdown {
        display: none;
    }

    .nav {
        border-bottom: none;   
        background-color: var(--maincolor); 
        border: solid 1px var(--maincolor);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        display: block;
        margin: 0;
    }

    .nav-item {
        display: inline-block;
        list-style: none;
        margin: 0 1.6em;
    }

    .nav-item a {
        color: var(--offwhite);
    }

    .nav-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /*INTRO*/

    h1 {
        font-size: 60px;
        line-height: 1em;
    }
        
    .team {
        font-size: medium;
        line-height: 0px;
    }

    .left-right-container {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
    
    .left {
        margin: 0 10%;
    }

    .right {
        padding: 0;
        margin: 0;
    }
    

    .intro {
        padding: 3em 5em;
    }

    .block-text p {
        padding: 0 5%;
        font-size: 18px;
    }

    /*DREAMCITY*/

    .dreamcity-video {
        max-width: 50%;
        margin: 3em 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .activities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        justify-items: center;
        grid-auto-flow: row;
        margin: 0 10%;
        padding: 0;
    }


    

    .img-container img {
        margin-bottom: 1em;
    }

    .ai--imgs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        margin-bottom: 4rem;
        }

        .ai--imgs div.midjourney {
            height: 800px;
        }

    .ai--imgs div {
        height: 100%;
        width: 100%;
        background-position: bottom;
    }
    

    .div1 { 
        grid-area: 1 / 1 / 3 / 2; 

    }
    .div2 { 
        grid-area: 1 / 2 / 3 / 3; 
        width: 360px;


    }
    .div3, .ai--imgs div.div3 { 
        grid-area: 3 / 1 / 5 / 3;
        width: 100%;
 

    }
    .div4 { 
        grid-area: 5 / 1 / 7 / 2; 
        width: 360px;

    }
    .div5 { 
        grid-area: 5 / 2 / 7 / 3; 
        width: 360px;

    }
    .div6 { 
        grid-area: 7 / 1 / 9 / 2; 
        width: 360px;

    }
    .div7 { 
        grid-area: 7 / 2 / 9 / 3; 
        width: 360px;

    }
    .div8 { 
        grid-area: 1 / 3 / 5 / 4; 
        width: 360px;

    }
    .div9 { 
        grid-area: 5 / 3 / 9 / 4; 
        width: 360px;


    }

    
    
    /*MEETINGS*/

    #meetings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 9em;
        margin-bottom: 5em;
    }

    .meeting iframe {
        max-width: 80%;
    }

    /*THE TEAM*/
    #teammates h4 {
        font-size: 30px;
    }

    .mexican-students {
        display: flex;
        flex-direction: row;
    }

    .mexican-students img {
        max-width: 30%;
    }

    .belgian-students {
        display: flex;
        flex-direction: row;
    }

    .belgian-students img {
        max-width: 40%;
    }
}
