:root {
    --maincolor: #CCD9D0;
}

* {
    box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
    text-decoration: none;
}
.hidden {
    display: block;
}

/*NAV*/
.menu {
    display: none;
}

.nav {
    border-bottom: 2px solid #e5e3e3;
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
}

.nav-item b {
    color: black;
}
  
.dropdown {
    position: relative;
}
  
.dropdown-button {
    border: none;
    cursor: pointer;
    background-color: white;
}
  
.dropdown-icon {
    width: 30px;
    margin-left: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
    background-color: white;
    padding: 0.75rem 0.75rem 0.25rem 0.75rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transform: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    width: 150px;
}
  
.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
  
.dropdown-menu div {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
  
.dropdown-menu a {
    text-decoration: none;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
  
.dropdown-menu b {
    color: black;
}

/*INTRO*/
#title-page {
    padding-left: 0.5em;
    text-align: center;
    padding-bottom: 2em;
}

h1 {
    padding-right: 2em;
}

h1:nth-child(2) {
    padding-left: 4em;
}

.team {
    font-size: x-small;
    padding-top: 3em;
}

#intro {
    background-color: var(--maincolor);
    padding: 1em 0.5em;
}

/*DREAMCITY*/
.dreamcity-video video {
    width: 100%;
    height: 100%;
    padding: 10px;
}

/*.container {
    position: relative;
}*/

.activity-images {
    display: block;
    max-width: 100%;
    padding: 10px;
}

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--maincolor);
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

/*MEETINGS*/
.meeting h3 {
    padding-left: 0.5em;
}

.meeting video {
    max-width: 100%;
    height: auto;
    padding: 10px;
}
